html {

}

body {

    background-color: rgba(35, 35, 35, 0.893);

}

#fetchDogImage {

    background-color: grey;
}

h1 {
    background: darkgray;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    border: 2px solid antiquewhite;
    border-radius: 10px;
    text-shadow: black 5px solid;
}

h3 {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.imgs {
    display: flex;
    justify-content: center;
}

.imgs-content {
    max-height: 100vh;
}

.white-text {
    color: antiquewhite;
    text-align: center;
    text-shadow: 2px 2px black;
}

button {
    display: block;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: rgba(73, 110, 146, 0.647);
    border: 2px solid antiquewhite;
    border-radius: 10px;
    margin-bottom: 45px;
    margin-top: 45px;
    cursor: pointer;
    font-size: larger;
    color: antiquewhite;
}

button.hover {}

footer {
    position: flex;
    background-color: darkgray;
    border: 2px solid antiquewhite;
    border-radius: 10px;
    text-align: center;
}

footer .white-text {
    color: antiquewhite;
    align-items: center;
}

.card {
    display: inline-flex;
    justify-content: center;
}

.card-body {
    
    color: antiquewhite;

}

#imageContainer {
    
  position: flex;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;

}

#dogImages {
   
    position: relative;
    width: 100%;
    height: 100%;
}

#dogImages img {
    
    position: absolute;
    display: flex;
    margin: 10px auto;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: transform 0.3s, z-index 0.3s;

}

#dogImages img:nth-child(1) {
    z-index: 1;
    transform: translate(0,0)
}

#dogImages img:nth-child(2) {
    z-index: 2;
    transform: translate(20px, 20px);

} 

#dogImages img:nth-child(3) {
    z-index: 3;
    transform: translate(40px, 40px)
}

/* add more rules for more img 'cards' */

details {



}

summary {
    
    font-size: larger;
    font-weight:bolder;
    cursor: pointer;

}

.card {

    

}

.card-body {

    background-color: rgba(135, 138, 141, 0.819);
    border: 2px solid antiquewhite;
    border-radius: 1em;
    
}

