html {

    background-color:  rgba(0, 0, 0, 0.788);;
}

h1 {

    background-color: rgba(169, 169, 169, 0.853);
    display: flex;
    justify-content: center;
}


.white-text {

    color: antiquewhite;
    display: flex;
    justify-content: center;
}
   
.imgs {

    display: flex;
    justify-content: center;
   

}

.imgs-content {
    
    display: flex;
    justify-content: center;
    border: 5px solid;
    border-color: antiquewhite;
    

}