body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #0a045f 0%, #55507a 100%);
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Spectral', serif;
    color: #eff1f1;
}

main p {
    font-weight: 700;
    text-align: center;
}

h1,
p,
div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    background-color: #00000065;
    border-radius: 15px;
}

#skyline {
    padding: 45px;
    border-radius: 60px;
    filter: drop-shadow(5px 5px 10px #fde453);
}

#dog {
    border-radius: 5px;
    width: 10em;
    height: 2em;
    font-weight: 700;
    background-color: #3b78b1;
    filter: drop-shadow(2px 2px 2px #fde453);
}

#dog:hover {
    filter: drop-shadow(4px 4px 4px #fde453);
    cursor: pointer;
}

#image-container {
    margin: 15px;
}

#random-dog {
    border-radius: 15px;
    max-width: 100%;
    max-height: 500px;
}

details {
    text-align: center;
    font-weight: 700;
    background-color: #3a4cb386;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #eff1f1;
    transition: box-shadow 0.3s;
}

summary {
    margin: 10px;
}

details:hover {
    cursor: pointer;
    box-shadow: 5px 5px 15px 15px #faf9c6;
}


#favorite-things {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #000;
    background-color: #f3eeee;
    margin: 10px;
    border-radius: 15px;
    height: 400px;
    width: 300px;
    text-align: center;
    color: #000;
}

.card:hover {
    box-shadow: 0 10px 20px 20px #080806a6;
}

.card img {
    object-fit: contain;
}

.card h2 {
    border-top: 2px solid #000;
    padding-top: 20px;
    width: 100%;
}

#color-change {
    margin-top: 25px;
}

#color,
#activate {
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #skyline {
        max-width: 25em;
        padding: 45px;
        border-radius: 60px;
        filter: drop-shadow(5px 5px 10px #fde453);
    }

    #favorite-things {
        flex-flow: column;
    }
}