head { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: blue;
margin: 10px;
background-color: black;}

body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: blue;
background-color: black; 
margin: 10px;}
