body {
  margin: auto;
  background-color: whitesmoke;
  min-height: calc(100vh - 11rem);
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 12rem;
}
#intro {
  font-size: 1.85em;
}
h1 {
  color: #003049;
}
header {
  background-color: #e9edc9;
}
.box {
  display: flex;
  margin: auto;
  width: 100%;
}
/*old button {
  margin: 25px;
  border-radius: 10px;
  box-shadow: 9 3 2 2px rgba(204, 200, 170, 0.15);
  background-color: #ccd5ae;
  animation-duration: 2.5s;
  animation-name: fadeIn;
  color: #003049;
}
button:hover {
  background-color: #00c0ff;
  color: #fefae0;
} */
a {
  text-decoration: none;
}
a:visited,
a:link {
  color: white;
}
a:hover {
  color: white;
  box-shadow: 0px 5px 5px white;
}
@media screen and (min-width: 650px) {
  .contact-container {
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 8.5rem;
  }
}
.contact-container {
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 5.5rem;
}
.contact-content {
  color: #f1f1f1;
  width: 75%;
  max-width: 1000px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.contact-item {
  width: 50%;
}

.bigBox {
  margin: auto;
  width: 50%;
  border: 3px solid #ccd5ae;
  padding-right: 55px;
  padding-left: 55px;
}
.box,
h1 {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
img {
  width: 125px;
  height: 175px;
}
li {
  list-style: none;
}
summary {
  padding-bottom: 15px;
  font-size: 1.2rem;
}
.cards {
  display: flex;
  flex-flow: row wrap;
  row-gap: 15px;
  width: 100%;
  justify-content: space-between;
}
.card {
  flex: 0 1 calc(25% - 1em);
  border: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding: 5px;
}
